@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전역 스크롤바 스타일링 (선택 사항) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}